$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#logo
{
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
}

.center
{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('sdsa.jpg');
  background-size: cover;
  height: 657px;
  margin-bottom: 0;
}

.jumbotron h1{
  color: #f2f2f2;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-family: 'Chewy', cursive;
  font-weight: bold;
  font-size: 100px;
}

.navbar{
  margin-bottom: 0;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 25px;
  font-family: 'Ravi Prakash', cursive;
  font-weight: bold; 
}

#footer_div{
  height: 50px;
  background-color: #000000;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;  
}


.yo:hover
{
  background-color: white;
}
.fah {
    width: 30px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
    color: white;
}

.fah:hover {
    transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
    opacity: 1;
}

#copyright{
  color: #fff;
}