<footer>
  <div id="footer_div">
    <a href="https://www.twitter.com"><i class="fa fa-twitter fah" aria-hidden="true"></i></a><a href="https://www.facebook.com"><i class="fa fa-facebook fah" aria-hidden="true"></i></a> <a href="https://www.snapchat.com"><i class="fa fa-snapchat-ghost fah" aria-hidden="true"></i></a> <a href="https://www.instagram.com"><i class="fa fa-instagram fah" aria-hidden="true"></i></a>
    <p id="copyright">Copyright &copy; 2017 BlogHub Inc.</p> 
  </div>
</footer>
